.hero {
   margin-right: auto;
   margin-left: auto;
   background-color: var(--background-grey-color);
   max-width: 100%;
   height: auto;
   padding-top: 118px;
   padding-bottom: 118px;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(
         url("../images/hero/jpg/480/hero-image-480@1x.jpg") 1x,
         url("../images/hero/jpg/480/hero-image-480@2x.jpg") 2x,
         url("../images/hero/jpg/480/hero-image-480@3x.jpg") 3x,
         url("../images/hero/avif/480/hero-image-480@1x.avif") 1x,
         url("../images/hero/avif/480/hero-image-480@2x.avif") 2x,
         url("../images/hero/avif/480/hero-image-480@3x.avif") 3x,
         url("../images/hero/webp/480/hero-image-480@1x.webp") 1x,
         url("../images/hero/webp/480/hero-image-480@2x.webp") 2x,
         url("../images/hero/webp/480/hero-image-480@3x.webp") 3x,
      );
   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
         url("../images/hero/jpg/480/hero-image-480@1x.jpg") 1x,
         url("../images/hero/jpg/480/hero-image-480@2x.jpg") 2x,
         url("../images/hero/jpg/480/hero-image-480@3x.jpg") 3x,
      );
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #c4c4c4;
   text-align: center;
}

@media screen and (min-width: 768px) {
   .hero {
      max-width: 100%;
      height: auto;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(
         url("../images/hero/jpg/768/hero-image-768@1x.jpg") 1x,
         url("../images/hero/jpg/768/hero-image-768@2x.jpg") 2x,
         url("../images/hero/jpg/768/hero-image-768@3x.jpg") 3x,
         url("../images/hero/avif/768/hero-image-768@1x.avif") 1x,
         url("../images/hero/avif/768/hero-image-768@2x.avif") 2x,
         url("../images/hero/avif/768/hero-image-768@3x.avif") 3x,
         url("../images/hero/webp/768/hero-image-768@1x.webp") 1x,
         url("../images/hero/webp/768/hero-image-768@2x.webp") 2x,
         url("../images/hero/webp/768/hero-image-768@3x.webp") 3x,
      );
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
         url("../images/hero/jpg/768/hero-image-768@1x.jpg") 1x,
         url("../images/hero/jpg/768/hero-image-768@2x.jpg") 2x,
         url("../images/hero/jpg/768/hero-image-768@3x.jpg") 3x,
      );
      padding-top: 118px;
      padding-bottom: 118px;
   }
}

@media screen and (min-width: 1200px) {
   .hero {
      max-width: 1600px;
      height: auto;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(
         url("../images/hero/avif/1200/hero-image-1200@1x.avif") 1x,
         url("../images/hero/avif/1200/hero-image-1200@2x.avif") 2x,
         url("../images/hero/avif/1200/hero-image-1200@3x.avif") 3x,
         url("../images/hero/webp/1200/hero-image-1200@1x.webp") 1x,
         url("../images/hero/webp/1200/hero-image-1200@2x.webp") 2x,
         url("../images/hero/webp/1200/hero-image-1200@3x.webp") 3x,
         url("../images/hero/jpg/1200/hero-image-1200@1x.jpg") 1x,
         url("../images/hero/jpg/1200/hero-image-1200@2x.jpg") 2x,
         url("../images/hero/jpg/1200/hero-image-1200@3x.jpg") 3x,
      );
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
         url("../images/hero/jpg/1200/hero-image-1200@1x.jpg") 1x,
         url("../images/hero/jpg/1200/hero-image-1200@2x.jpg") 2x,
         url("../images/hero/jpg/1200/hero-image-1200@3x.jpg") 3x,
      );
      padding-top: 200px;
      padding-bottom: 200px;
   }
}

.hero__title {
   max-width: 360px;
   width: 100%;
   font-weight: 900;
   font-size: 26px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   margin-bottom: var(--card-set-gap);
   margin-left: auto;
   margin-right: auto;
   color: var(--basic-white-color);
}

@media screen and (min-width: 1200px) {
   .hero__title {
      max-width: 696px;
      font-size: 44px;
      line-height: 1.36;
   }
}

.hero__button {
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   text-align: center;
   letter-spacing: 0.06em;
   margin: auto;
   display: block;
   border-radius: 4px;
   border: none;
   padding-top: 10px;
   padding-right: 32px;
   padding-bottom: 10px;
   padding-left: 32px;
   min-width: 200px;
   color: var(--basic-white-color);
   background-color: var(--accent-blue-color);
   transition-property: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: var(--second-blue-color);
   }
}

@media screen and (min-width: 1200px) {
   .hero__button {
      min-width: 216px;
   }
}
