.team {
   background-color: var(--special-white-color);
}

.team__list {
   display: flex;
   flex-wrap: wrap;
   gap: var(--card-set-gap);
   flex-basis: calc((100% - 90px) / 4);
}

.team__member-image {
   width: 100%;
   height: auto;
   align-items: center;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__content {
   padding-top: var(--card-set-gap);
   padding-bottom: var(--card-set-gap);
   background-color: var(--basic-white-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.team__member-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
}

.team__member-position {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   margin-top: 10px;
   color: var(--text-grey-color);
}
