:root {
   --accent-blue-color: #2196f3;
   --second-blue-color: #188ce8;
   --transparent-blue-color: rgba(33, 150, 243, 0.9);
   --basic-black-color: #000000;
   --text-black-color: #212121;
   --background-grey-color: #2f303a;
   --transparent-grey-color: rgba(255, 255, 255, 0.1);
   --text-grey-color: #757575;
   --icon-grey-color: #afb1b8;
   --contact-grey-color: rgba(255, 255, 255, 0.6);
   --basic-white-color: #ffffff;
   --special-white-color: #f5f4fa;
   --second-white-color: #eeeeee;
   --line-white-color: #ececec;
   --logo-font-family: 'Raleway', sans-serif;
   --primary-font-family: 'Roboto', sans-serif;
   --card-set-gap: 30px;
}