.portfolio-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-bottom: -30px;

   @media screen and (min-width: 768px) {
      justify-content: flex-start;
   }

   @media screen and (min-width: 1200px) {
      justify-content: center;
   }
   
}

.portfolio-list__item{
   flex-basis: calc(100% / 1 - 30px);
   margin-left: 30px;
   margin-bottom: 30px;

   @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
   }

   @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 30px);
      margin-left: 30px;
   }

}

.portfolio-list__product-thumb {
   position: relative;
   overflow: hidden;

   .portfolio-list__item &::after {
      content: '';
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
      background: var(--transparent-blue-color);
      transition-property: transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   }

   .portfolio-list__link:hover &::after,
   .portfolio-list__link:focus &::after {
      transform: translateY(0%);
   }
}

.portfolio-list__product-action {
   z-index: 2;
   width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   color: var(--basic-white-color);
   padding: 63px 24px;
   transform: translateY(100%);
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   .portfolio-list__link:hover &,
   .portfolio-list__link:focus & {
      transform: translateY(0%);
   }
}

.portfolio-list__title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   margin-bottom: 4px;
   color: var(--text-black-color);
}

.portfolio-list__description {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
   color: var(--text-grey-color);
}

.portfolio-list__link {
   display: block;
   transition-property: box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
   }
}

.portfolio-list__content {
   padding-top: 20px;
   padding-right: 24px;
   padding-bottom: 20px;
   padding-left: 24px;
   border: 1px solid var(--second-white-color);
   border-top: none;
}